input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}
