input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.main {
    margin-left: 10px;
    margin-right: 10px;
}
.inputContainer {
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.switchContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
